@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply text-gray-950 no-underline;
  }

  input[type='text'],
  input[type='password'],
  textarea,
  select {
    @apply w-full px-3 border;
  }

  input[type='checkbox'] {
    width: 16px;
    height: 16px;
  }

  input[type='text']:focus,
  input[type='password']:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }
}

@layer components {
  button {
    @apply w-full h-[44px] px-3 flex items-center justify-center bg-gray-700 text-white font-light;
  }

  button:hover {
    @apply opacity-90 transition;
  }

  button:disabled {
    @apply bg-gray-400 text-gray-300 font-light;
  }
}

@layer utilities {
  @keyframes fade {
    0% { opacity: 0 }
    10% { opacity: 1 }
    90% { opacity: 1 }
    100% { opacity: 0 }
  }
  .animate-fade {
    animation: fade 2s ease-in-out;
  }
}
